.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
    background-color: #0d1b2a;
    color: #fff;
    min-height: 10vh;
}

.logo p {
    color: white;
}

.nav-links {
    list-style: none;
    display: flex;
    /*gap: 55px;*/
}

.nav-links li {
    display: flex;
    align-items: center;
}

.nav-links{
    position: relative;
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    /*gap: 5px;*/
    font-size: 18px;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    padding-top: 70px;
}
